/*
 * Skin: Dickeys
 * ------------
 */
.skin-dickeys .main-header .navbar {
  background-color: #33373A;
}
.skin-dickeys .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-dickeys .main-header .navbar .nav > li > a:hover,
.skin-dickeys .main-header .navbar .nav > li > a:active,
.skin-dickeys .main-header .navbar .nav > li > a:focus,
.skin-dickeys .main-header .navbar .nav .open > a,
.skin-dickeys .main-header .navbar .nav .open > a:hover,
.skin-dickeys .main-header .navbar .nav .open > a:focus,
.skin-dickeys .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-dickeys .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-dickeys .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-dickeys .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-dickeys .main-header .navbar .sidebar-toggle:hover {
  background-color: #272a2c;
}
@media (max-width: 767px) {
  .skin-dickeys .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-dickeys .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-dickeys .main-header .navbar .dropdown-menu li a:hover {
    background: #272a2c;
  }
}
.skin-dickeys .main-header .logo {
  background-color: #272a2c;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-dickeys .main-header .logo:hover {
  background-color: #25282a;
}
.skin-dickeys .main-header li.user-header {
  background-color: #33373A;
}
.skin-dickeys .content-header {
  background: transparent;
}
.skin-dickeys .wrapper,
.skin-dickeys .main-sidebar,
.skin-dickeys .left-side {
  background-color: #33373A;
}
.skin-dickeys .content-wrapper,
.skin-dickeys .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-dickeys .user-panel > .info,
.skin-dickeys .user-panel > .info > a {
  color: #fff;
}
.skin-dickeys .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-dickeys .sidebar-menu > li.header {
  color: #ffffff;
  background: #33373A;
}
.skin-dickeys .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-dickeys .sidebar-menu > li:hover > a,
.skin-dickeys .sidebar-menu > li.active > a {
  color: #fff;
  background: #ffdb07;
  background-color: #ffdb07;
  text-shadow: 0.5px 0.5px 0px #33373A;
  border-left: 3px solid #33373A;
}
.skin-dickeys .sidebar-menu > li.active {
  border-left-color: #33373A;
}
.skin-dickeys .sidebar-menu > li.active > a {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-dickeys .sidebar-menu > li > .treeview-menu {
  background: #ffdb07;
}
.skin-dickeys .sidebar a {
  color: #fff;
}
.skin-dickeys .sidebar a:hover {
  text-decoration: none;
}
.skin-dickeys .treeview-menu > li > a {
  color: #33373A;
}
.skin-dickeys .treeview-menu > li.active > a,
.skin-dickeys .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-dickeys .treeview-menu > li.active > a {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-dickeys .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-dickeys .sidebar-form input[type="text"],
.skin-dickeys .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-dickeys .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-dickeys .sidebar-form input[type="text"]:focus,
.skin-dickeys .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-dickeys .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-dickeys .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-dickeys.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-dickeys .bg-primary {
  color: #fff;
  background-color: #33373A !important;
}
.skin-dickeys .direct-chat-primary .right > .direct-chat-text {
  color: #fff;
  background-color: #33373A;
  border-color: #33373A;
}
.skin-dickeys .direct-chat-primary .right > .direct-chat-text:after,
.skin-dickeys .direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #33373A;
}
.skin-dickeys .box.box-primary {
  border-top-color: #33373A;
}
.skin-dickeys .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.skin-dickeys .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #33373A;
}
.skin-dickeys .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #33373A;
}
.skin-dickeys .label-primary,
.skin-dickeys .modal-primary .modal-body {
  background-color: #33373A !important;
}
.skin-dickeys .pagination > .active > a,
.skin-dickeys .pagination > .active > span,
.skin-dickeys .pagination > .active > a:hover,
.skin-dickeys .pagination > .active > span:hover,
.skin-dickeys .pagination > .active > a:focus,
.skin-dickeys .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #33373A;
  border-color: #33373A;
}
.skin-dickeys .fuelux .wizard > ul.steps li.active,
.skin-dickeys .fuelux .wizard > .steps-container > ul.steps li.active {
  background: #8e8e8e;
  color: #33373A;
}
.skin-dickeys .fuelux .wizard > ul.steps li.active .chevron:before,
.skin-dickeys .fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
  border-left: 14px solid #8e8e8e;
}
.skin-dickeys .fuelux .wizard > ul.steps li.active .badge,
.skin-dickeys .fuelux .wizard > .steps-container > ul.steps li.active .badge {
  background-color: #33373A;
}
.login-page,
.register-page {
  background-color: #33373A;
  background-image: none;
  background-size: cover;
}
.btn-custom {
  background-color: #272a2c !important;
}
