/*
 * Skin: Green - Sidebar
 * -----------
 */
.skin-green-sidebar .main-header .navbar {
  background-color: #00a65a;
}
.skin-green-sidebar .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-green-sidebar .main-header .navbar .nav > li > a:hover,
.skin-green-sidebar .main-header .navbar .nav > li > a:active,
.skin-green-sidebar .main-header .navbar .nav > li > a:focus,
.skin-green-sidebar .main-header .navbar .nav .open > a,
.skin-green-sidebar .main-header .navbar .nav .open > a:hover,
.skin-green-sidebar .main-header .navbar .nav .open > a:focus,
.skin-green-sidebar .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-green-sidebar .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-green-sidebar .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-green-sidebar .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-green-sidebar .main-header .navbar .sidebar-toggle:hover {
  background-color: #008d4c;
}
@media (max-width: 767px) {
  .skin-green-sidebar .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-green-sidebar .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-green-sidebar .main-header .navbar .dropdown-menu li a:hover {
    background: #008d4c;
  }
}
.skin-green-sidebar .main-header .logo {
  background-color: #008d4c;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-green-sidebar .main-header .logo:hover {
  background-color: #008749;
}
.skin-green-sidebar .main-header li.user-header {
  background-color: #00a65a;
}
.skin-green-sidebar .content-header {
  background: transparent;
}
.skin-green-sidebar .wrapper,
.skin-green-sidebar .main-sidebar,
.skin-green-sidebar .left-side {
  background-color: #00a65a;
}
.skin-green-sidebar .content-wrapper,
.skin-green-sidebar .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-green-sidebar .user-panel > .info,
.skin-green-sidebar .user-panel > .info > a {
  color: #fff;
}
.skin-green-sidebar .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-green-sidebar .sidebar-menu > li.header {
  color: #ffffff;
  background: #00a65a;
}
.skin-green-sidebar .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-green-sidebar .sidebar-menu > li:hover > a,
.skin-green-sidebar .sidebar-menu > li.active > a {
  color: #fff;
  background: #008847;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-green-sidebar .sidebar-menu > li.active {
  border-left-color: #00a65a;
}
.skin-green-sidebar .sidebar-menu > li.active > a {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-green-sidebar .sidebar-menu > li > .treeview-menu {
  background: #008847;
}
.skin-green-sidebar .sidebar a {
  color: #fff;
}
.skin-green-sidebar .sidebar a:hover {
  text-decoration: none;
}
.skin-green-sidebar .treeview-menu > li > a {
  color: #D0D6DE;
}
.skin-green-sidebar .treeview-menu > li.active > a,
.skin-green-sidebar .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-green-sidebar .treeview-menu > li.active > a {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-green-sidebar .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-green-sidebar .sidebar-form input[type="text"],
.skin-green-sidebar .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-green-sidebar .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-green-sidebar .sidebar-form input[type="text"]:focus,
.skin-green-sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-green-sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-green-sidebar .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-green-sidebar.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-green-sidebar .bg-primary {
  color: #fff;
  background-color: #00a65a !important;
}
.skin-green-sidebar .direct-chat-primary .right > .direct-chat-text {
  color: #fff;
  background-color: #00a65a;
  border-color: #00a65a;
}
.skin-green-sidebar .direct-chat-primary .right > .direct-chat-text:after,
.skin-green-sidebar .direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #00a65a;
}
.skin-green-sidebar .box.box-primary {
  border-top-color: #00a65a;
}
.skin-green-sidebar .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.skin-green-sidebar .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #00a65a;
}
.skin-green-sidebar .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #00a65a;
}
.skin-green-sidebar .label-primary,
.skin-green-sidebar .modal-primary .modal-body {
  background-color: #00a65a !important;
}
.skin-green-sidebar .pagination > .active > a,
.skin-green-sidebar .pagination > .active > span,
.skin-green-sidebar .pagination > .active > a:hover,
.skin-green-sidebar .pagination > .active > span:hover,
.skin-green-sidebar .pagination > .active > a:focus,
.skin-green-sidebar .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #00a65a;
  border-color: #00a65a;
}
.skin-green-sidebar .fuelux .wizard > ul.steps li.active,
.skin-green-sidebar .fuelux .wizard > .steps-container > ul.steps li.active {
  background: #73ffbf;
  color: #00a65a;
}
.skin-green-sidebar .fuelux .wizard > ul.steps li.active .chevron:before,
.skin-green-sidebar .fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
  border-left: 14px solid #73ffbf;
}
.skin-green-sidebar .fuelux .wizard > ul.steps li.active .badge,
.skin-green-sidebar .fuelux .wizard > .steps-container > ul.steps li.active .badge {
  background-color: #00a65a;
}
