/*
 * Skin: Purple
 * ------------
 */
.skin-panera .main-header .navbar {
  background-color: #687819;
}
.skin-panera .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-panera .main-header .navbar .nav > li > a:hover,
.skin-panera .main-header .navbar .nav > li > a:active,
.skin-panera .main-header .navbar .nav > li > a:focus,
.skin-panera .main-header .navbar .nav .open > a,
.skin-panera .main-header .navbar .nav .open > a:hover,
.skin-panera .main-header .navbar .nav .open > a:focus,
.skin-panera .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-panera .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-panera .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-panera .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-panera .main-header .navbar .sidebar-toggle:hover {
  background-color: #566315;
}
@media (max-width: 767px) {
  .skin-panera .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-panera .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-panera .main-header .navbar .dropdown-menu li a:hover {
    background: #566315;
  }
}
.skin-panera .main-header .logo {
  background-color: #566315;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-panera .main-header .logo:hover {
  background-color: #525f14;
}
.skin-panera .main-header li.user-header {
  background-color: #687819;
}
.skin-panera .content-header {
  background: transparent;
}
.skin-panera .wrapper,
.skin-panera .main-sidebar,
.skin-panera .left-side {
  background-color: #687819;
}
.skin-panera .content-wrapper,
.skin-panera .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-panera .user-panel > .info,
.skin-panera .user-panel > .info > a {
  color: #fff;
}
.skin-panera .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-panera .sidebar-menu > li.header {
  color: #ffffff;
  background: #687819;
}
.skin-panera .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-panera .sidebar-menu > li:hover > a,
.skin-panera .sidebar-menu > li.active > a {
  color: #fff;
  background: #b55327;
}
.skin-panera .sidebar-menu > li.active {
  border-left-color: #687819;
}
.skin-panera .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-panera .sidebar-menu > li > .treeview-menu {
  background: #b55327;
}
.skin-panera .sidebar a {
  color: #fff;
}
.skin-panera .sidebar a:hover {
  text-decoration: none;
}
.skin-panera .treeview-menu > li > a {
  color: #d2d6de;
}
.skin-panera .treeview-menu > li.active > a,
.skin-panera .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-panera .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-panera .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-panera .sidebar-form input[type="text"],
.skin-panera .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-panera .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-panera .sidebar-form input[type="text"]:focus,
.skin-panera .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-panera .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-panera .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-panera.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-panera .bg-primary {
  color: #fff;
  background-color: #687819 !important;
}
.skin-panera .direct-chat-primary .right > .direct-chat-text {
  color: #fff;
  background-color: #687819;
  border-color: #687819;
}
.skin-panera .direct-chat-primary .right > .direct-chat-text:after,
.skin-panera .direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #687819;
}
.skin-panera .box.box-primary {
  border-top-color: #687819;
}
.skin-panera .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.skin-panera .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #687819;
}
.skin-panera .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #687819;
}
.skin-panera .label-primary,
.skin-panera .modal-primary .modal-body {
  background-color: #687819 !important;
}
.skin-panera .pagination > .active > a,
.skin-panera .pagination > .active > span,
.skin-panera .pagination > .active > a:hover,
.skin-panera .pagination > .active > span:hover,
.skin-panera .pagination > .active > a:focus,
.skin-panera .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #687819;
  border-color: #687819;
}
.skin-panera .fuelux .wizard > ul.steps li.active,
.skin-panera .fuelux .wizard > .steps-container > ul.steps li.active {
  background: #d1e37a;
  color: #687819;
}
.skin-panera .fuelux .wizard > ul.steps li.active .chevron:before,
.skin-panera .fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
  border-left: 14px solid #d1e37a;
}
.skin-panera .fuelux .wizard > ul.steps li.active .badge,
.skin-panera .fuelux .wizard > .steps-container > ul.steps li.active .badge {
  background-color: #687819;
}
.login-page,
.register-page {
  background-color: #687819;
  background-image: none;
  background-size: cover;
}
.btn-custom {
  background-color: #a04923 !important;
}
