/*
 * Skin: Chickfila
 * ------------
 */
.skin-chickfila .main-header .navbar {
  background-color: #282828;
}
.skin-chickfila .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-chickfila .main-header .navbar .nav > li > a:hover,
.skin-chickfila .main-header .navbar .nav > li > a:active,
.skin-chickfila .main-header .navbar .nav > li > a:focus,
.skin-chickfila .main-header .navbar .nav .open > a,
.skin-chickfila .main-header .navbar .nav .open > a:hover,
.skin-chickfila .main-header .navbar .nav .open > a:focus,
.skin-chickfila .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-chickfila .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-chickfila .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-chickfila .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-chickfila .main-header .navbar .sidebar-toggle:hover {
  background-color: #1b1b1b;
}
@media (max-width: 767px) {
  .skin-chickfila .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-chickfila .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-chickfila .main-header .navbar .dropdown-menu li a:hover {
    background: #1b1b1b;
  }
}
.skin-chickfila .main-header .logo {
  background-color: #1b1b1b;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-chickfila .main-header .logo:hover {
  background-color: #191919;
}
.skin-chickfila .main-header li.user-header {
  background-color: #282828;
}
.skin-chickfila .content-header {
  background: transparent;
}
.skin-chickfila .wrapper,
.skin-chickfila .main-sidebar,
.skin-chickfila .left-side {
  background-color: #282828;
}
.skin-chickfila .content-wrapper,
.skin-chickfila .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-chickfila .user-panel > .info,
.skin-chickfila .user-panel > .info > a {
  color: #fff;
}
.skin-chickfila .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-chickfila .sidebar-menu > li.header {
  color: #ffffff;
  background: #282828;
}
.skin-chickfila .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-chickfila .sidebar-menu > li:hover > a,
.skin-chickfila .sidebar-menu > li.active > a {
  color: #fff;
  background: #ff0946;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-chickfila .sidebar-menu > li.active {
  border-left-color: #282828;
}
.skin-chickfila .sidebar-menu > li.active > a {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-chickfila .sidebar-menu > li > .treeview-menu {
  background: #ff0946;
}
.skin-chickfila .sidebar a {
  color: #fff;
}
.skin-chickfila .sidebar a:hover {
  text-decoration: none;
}
.skin-chickfila .treeview-menu > li > a {
  color: #d2d6de;
}
.skin-chickfila .treeview-menu > li.active > a,
.skin-chickfila .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-chickfila .treeview-menu > li.active > a {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0px #33373A;
}
.skin-chickfila .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-chickfila .sidebar-form input[type="text"],
.skin-chickfila .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-chickfila .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-chickfila .sidebar-form input[type="text"]:focus,
.skin-chickfila .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-chickfila .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-chickfila .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-chickfila.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-chickfila .bg-primary {
  color: #fff;
  background-color: #282828 !important;
}
.skin-chickfila .direct-chat-primary .right > .direct-chat-text {
  color: #fff;
  background-color: #282828;
  border-color: #282828;
}
.skin-chickfila .direct-chat-primary .right > .direct-chat-text:after,
.skin-chickfila .direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #282828;
}
.skin-chickfila .box.box-primary {
  border-top-color: #282828;
}
.skin-chickfila .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.skin-chickfila .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #282828;
}
.skin-chickfila .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #282828;
}
.skin-chickfila .label-primary,
.skin-chickfila .modal-primary .modal-body {
  background-color: #282828 !important;
}
.skin-chickfila .pagination > .active > a,
.skin-chickfila .pagination > .active > span,
.skin-chickfila .pagination > .active > a:hover,
.skin-chickfila .pagination > .active > span:hover,
.skin-chickfila .pagination > .active > a:focus,
.skin-chickfila .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #282828;
  border-color: #282828;
}
.skin-chickfila .fuelux .wizard > ul.steps li.active,
.skin-chickfila .fuelux .wizard > .steps-container > ul.steps li.active {
  background: #8e8e8e;
  color: #282828;
}
.skin-chickfila .fuelux .wizard > ul.steps li.active .chevron:before,
.skin-chickfila .fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
  border-left: 14px solid #8e8e8e;
}
.skin-chickfila .fuelux .wizard > ul.steps li.active .badge,
.skin-chickfila .fuelux .wizard > .steps-container > ul.steps li.active .badge {
  background-color: #282828;
}
