input.parsley-success,
select.parsley-success,
textarea.parsley-success {
/*
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
*/
     border-color: #00a65a;
     box-shadow: none;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border-color: #dd4b39;
    box-shadow: none;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.parsley-required{
    color: #dd4b39;
    font-weight: bold;
}

.parsley-type{
    color: #dd4b39;
    font-weight: bold;
}

.parsley-minlength, .parsley-equalto{
    color: #dd4b39;
    font-weight: bold;
}
