@charset "utf-8";
/* CSS Document */

/*----*****---- << Responsive >> ----*****----*/

	/*----*****---- << Desktop >> ----*****----*/

    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:993px) and (max-width:5500px) {		
		
         
	}

	/*----*****---- << Tablet (Portrait) >> ----*****----*/

    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:768px) and (max-width:992px) {
	
		.terms-box {
		    width: 90%;
		    margin-top: none;	
		}    
		
        .landing-header {
		    width: 90%;
		    margin-top: none;	
		}  
        

     
        
        .landing-header-wizard {
		    width: 90%;
		    margin-top: 20px;	
		}  
         /
        .form-wizard{
            padding: 0 5px 0 5px;
        }  
        
        .login-box, .register-box {
            width: 60%;

        }
        

    }

	/*----*****---- << Mobile (Landscape) >> ----*****----*/

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 481px) and (max-width: 767px) {
	    .box-square{
            margin-top: 20px;
        }
		
        .terms-box {
		    width: 90%;
/*		    margin-top: 20px;	*/
		}    
        
        .login-logo img{
			width: 150px;
		}
		
        .landing-header {
		    width: 90%;
		    margin-top: 20px;	
		}  
        
        
        .landing-header-wizard {
		    width: 90%;
		    margin-top: 20px;	
		}  
        
        .form-wizard{
            padding: 0 5px 0 5px;
        }   
        
	}

	/*----*****---- << Mobile >> ----*****----*/

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 480px) {
        
        .box-square{
            margin-top: 20px;
        }
		
		.login-logo a{
			font-size: 0.7em;
			color: #0f395f;	
            margin-bottom: 5px;
		}
		
		.login-logo img{
			width: 150px;
		}
		
		.terms-box {
		    width: 90%;
/*		    margin-top: 20px;	*/
		}
		
		.tab-pane .btn{
			padding-left: 5px;
		}
        
        .landing-header {
		    width: 90%;
		    margin-top: 20px;	
		} 
        
        .landing-header-wizard {
		    width: 90%;
		    margin-top: 20px;	
		}  
        
        
        .text-logo{
            font-size: 1.2em;
            color: #11395f;
            margin-top: 65px;
        }
        
        .form-wizard{
            padding: 0 5px 0 5px;
        }    
        
        .logo-letras{
            width: 250px;
        }
        
        
			
	}
