/*------------------------------------------------------------
 Login Page --------------------------------------------------
-------------------------------------------------------------*/

.login-page, .register-page{
	background-color: #c6c7c9;
	background-image: url(../img/bg-One-seamless-Solution.jpg);  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*Testing center login box in windows*/

.box-square {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
    opacity: 0.97;
/*    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: 10px 10px 46px -6px rgba(28,28,28,1);
    -moz-box-shadow: 10px 10px 46px -6px rgba(28,28,28,1);
    box-shadow: 10px 10px 46px -6px rgba(28,28,28,1);
}

.login-box{
    
/*    margin: 19% auto*/
}

.login-box, .register-box {
    /* width: 360px; */
    margin: 0 auto;
}


.vertical-center {
  min-height: 100%;  
  min-height: 100vh;
  display: flex;
  align-items: center;
}


/*end testing*/
.img-center{	
	margin: 0 auto;
}

.login-logo{
	opacity: 0.97;
    margin-bottom: 0px;
    background-color: #fff;
}

.login-logo img{
    padding-top: 20px;
    max-width: 200px;
}

.login-logo a{
	font-size: 0.9em;
	color: #0f395f;	
}

.login-box-body{
	opacity: 0.97;

}

.login-box-body, .register-box-body {
    background: #fff;
    padding: 10px 20px;
    border-top: 0;
    color: #666;
}

.no-padding{
	margin:0;
	font-size: .7em;
}

.img-terms{
    width: 150px;
}

/*------------------------------------------------------------
 Dashboard Page ----------------------------------------------
-------------------------------------------------------------*/

.main-sidebar {
/*    background-color: #3c8dbc !important;*/
    color: #ffffff;
}

.skin-blue .sidebar-menu > li.header{
	background-color: #3c8dbc !important;
	color: #fff;
}

.skin-blue .sidebar a {
    color: #fff;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #0f395f;
    border-left-color: #3c8dbc;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #0f395f;
}

.skin-blue .treeview-menu > li > a {
    color: #ffffff;
}

/*------------------------------------------------------------
 Terms and conditios Page ------------------------------------
-------------------------------------------------------------*/


.terms-box {
    width: 560px;
    margin: 0 auto;
}

.terms-pre-scrollable{
     height: 250px !important;   
}

/*------------------------------------------------------------
 Acces inf Landing page --------------------------------------
-------------------------------------------------------------*/


.landing-header{
    width: 800px;
    margin: 7% auto;
    background-color: #fff;
    opacity: 0.97;
    z-index: 2;
}

.logo-letras{
    margin: 20px 0px 0px 20px;
    width: 300px;
}

.img-landing{
	margin: 20px 10px 10px 20px; 
    
}

.text-logo{
    margin-left: 10px;
    color: #11395f;
    margin-top: 65px;
}


.landing-header .form-title {
	color: #11395f;
	margin: 0px 0px 20px 1px;
	
}

.blue-onessolutio{
    color: #11395f;
}

/*------------------------------------------------------------
Vendor Wizard	----------------------------------------------
-------------------------------------------------------------*/
.wizard-page{
    background-color: #367fa9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wizard-box{
     padding: 0 0 20px 0;   
}

.landing-header-wizard{
    visibility: hidden;
    width: 800px;
    margin: 4% auto;
    background-color: #fff;
    opacity: 0.97;
    z-index: 2;
}

.wizard-vendor{
    widows: 100%;
}


.fuelux .wizard > .actions{
    background-color: #fff;
}

.form-wizard{
    padding: 0 20px 0 20px;
}

/*------------------------------------------------------------
Map Canvas	--------------------------------------------------
-------------------------------------------------------------*/


.map_canvas{
/*    display: none;*/
/*    visibility: hidden;*/
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
}

.map_canvas_vendorlist{
/*    display: none;*/
/*    visibility: hidden;*/
    width: 100%;
    height: 135px;
    padding-bottom: 20px;
    z-index:99;
}

.map_canvas_clientlist{
/*    display: none;*/
/*    visibility: hidden;*/
    width: 100%;
    height: 135px;
    padding-bottom: 20px;
    z-index:99;
}


.map_canvas_workorder{
/*    display: none;*/
/*    visibility: hidden;*/
    width: 100%;
    height: 135px;
    padding-bottom: 20px;
    z-index:99;
}

/*------------------------------------------------------------
Forms	----------------------------------------------
-------------------------------------------------------------*/

.form-padding button{
	margin-top: 15px;
		
}

.form-control-feedback {
    right: 15px;
}

.map-location{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ccc;
}

.progress {
    height: 30px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar{
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    
    padding-top: 5px;
}

.multiselect .btn-default{
    background-color: #fff;
}

.btn-default {
    background-color: #fff;
    color: #444;
    border-color: #ddd;
}
    /*------------------------------------------------------------
    Styles FuelUx	----------------------------------------------
    -------------------------------------------------------------*/
    
    .fuelux .wizard{
        border: 0px solid #fff;
        border-radius: 0px 0px 0px 0px;
        overflow: hidden;
    }


/*------------------------------------------------------------
Master Layout	----------------------------------------------
-------------------------------------------------------------*/

.main-header .logo{
    padding-left: 0px;
}

.main-header .logo img{
    width: 50px;
    height: 50px;
}

    /*Clase para los logotipos custom de parent corporation*/
    .customLogo{
        height: 80px;
        width: 80px;
    }


/*------------------------------------------------------------
Custom padding	----------------------------------------------
-------------------------------------------------------------*/
.padding-l-r-30{
	padding: 0 30px;
}

.padding-l-r-1-5-em{
     padding: 0 1.5em;   
}

.padding-l-5{
	padding: 0 0 0 5px;
	
}

.padding-r-5{
	padding: 0 5px 0 0;
	
}

.padding-t-15{
	padding: 15px 0 0 0;
	
}

.padding-t-30{
	padding: 30px 0 0 0;
	
}
.padding-b-40{
	padding: 0 0 40px 0;
	
}

/*------------------------------------------------------------
Custom margin	----------------------------------------------
-------------------------------------------------------------*/

.margin-b-0{
    margin-bottom: 0px;
}

.margin-r-5{
    margin-right: 5px;
}

.margin-r-10{
    margin-right: 10px;
}

.margin-b-40{
    margin-bottom: 40px;
}

.margin-t-40{
    margin-top: 40px;
}

.margin-t-10{
    margin-top: 10px;
}

.margin-t-0{
    margin-top: 0px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-l-r-30{
	margin: 0 30px;
}


/*------------------------------------------------------------
Loading Spinner	----------------------------------------------
-------------------------------------------------------------*/

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background-color: rgba(0,0,0,0.3);*/
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;

}

.loading:not(:required):after {

  content: '';
  display: block;
  font-size: 15px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #0f395f 1.5em 0 0 0, #0f395f 1.1em 1.1em 0 0,#0f395f 0 1.5em 0 0,#0f395f -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0,#0f395f 0 -1.5em 0 0,#0f395f 1.1em -1.1em 0 0;
  box-shadow:#0f395f 1.5em 0 0 0,#0f395f 1.1em 1.1em 0 0,#0f395f 0 1.5em 0 0,#0f395f -1.1em 1.1em 0 0,#0f395f -1.5em 0 0 0,#0f395f -1.1em -1.1em 0 0,#0f395f 0 -1.5em 0 0,#0f395f 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hidden_elem{
    display: none;
}


.x{
    text-align: center;
}


.bg-blue{
    background-image: none !important;
    background-color: #367fa9 !important;
    
}

/*------------------------------------------------------------
Custom Icons DataTable	--------------------------------------
-------------------------------------------------------------*/

ul.table-actions {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.table-actions li>a>i {
    font-size: 1.5em;
}

ul.table-actions>li {
    float: left;
}

.group-table-item  span.label.label-success {
    position: relative;
    bottom: 12px;
    right: 7px;
    text-align: center;
    font-size: 12px;
    padding: 1px 5px;
    line-height: .9;
}

span.label.label-success center {
    position: relative;
    bottom: 0px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    padding: 0px 5px;
    line-height: .9;
}

.bg-light-gray {
    background-color: #3c8dbc !important;
}

.label-gray {
    background-color: #b5bbc8 !important;
}

.btn .badge {
    position: relative;
    top: 0px !important;

}


/*------------------------------------------------------------
Workorder widget	------------------------------------------
-------------------------------------------------------------*/
.widget-user-2 .widget-user-header {
    padding: 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/*------------------------------------------------------------
Chat  objet:        ------------------------------------------
-------------------------------------------------------------*/
.direct-chat-messages{
    height:  500px;
}

.btn{
    cursor: pointer;
}

/*------------------------------------------------------------
Center value in datatable ------------------------------------
-------------------------------------------------------------*/

th.dt-center, td.dt-center { text-align: center; }

/*------------------------------------------------------------
Error pages styles -------------------------------------------
-------------------------------------------------------------*/
.img-error-template{
  width: 150px;  
}

.error-img{
    width: 300px;
}

.error-text{
    font-size: 3.50em;
    color: #0f395f; 
    font-weight: 100;
    
}
h1.error-text.text-center{
    margin: 5 auto !important;
}

/*------------------------------------------------------------
Parsleys validator styles  -----------------------------------
-------------------------------------------------------------*/

.parsley-required, .parsley-minlength, .parsley-equalto, .parsley-type{
    color: #D9534F;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
    color: #666;
    background-color: #fff;
    border: 1px solid #D9534F;
}

input.parsley-success, select.parsley-success, textarea.parsley-success {
    color: #666;
    background-color: #fff;
    border: 1px solid #48AF46;
}



/*------------------------------------------------------------
Recaptcha mobile fix ----------------------------------------
-------------------------------------------------------------*/

@media screen and (max-height: 575px){
#rc-imageselect, .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;}
}

.g-recaptcha{
   margin: 15px auto !important;
   width: auto !important;
   height: auto !important;
   text-align: -webkit-center;
   text-align: -moz-center;
   text-align: -o-center;
   text-align: -ms-center;
}


/*------------------------------------------------------------
Custom error danger modal ------------------------------------
-------------------------------------------------------------*/

.modal-danger .modal-header {
    background-color: #fff !important;
    color: #D9534F !important;
    border: 1px solid #D9534F;  
}

.modal-danger .modal-header .close {
    color: #D9534F !important;
    opacity: 1 !important;  
}

.modal-danger .modal-body {
    background-color: #fff !important;
    color: #d33724 !important;
    border: solid #d33724;
    border-width: 0px 1px 0px 1px;
}

.modal-danger .modal-footer {
    background-color: #fff !important;
    color: #d33724 !important;
    border: 1px solid #d33724;
}

/*------------------------------------------------------------
Settings - Skin Selector -------------------------------------
-------------------------------------------------------------*/

.img-skin-thumb{
    margin: 0 auto;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}


/*------------------------------------------------------------
Bullet in sidebar fix ----------------------------------------
-------------------------------------------------------------*/

.active > a > .pull-right-container > i.fa.fa-angle-right {
     -webkit-transform: rotate(90deg); 
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
     transform: rotate(90deg); 
}

/*------------------------------------------------------------
Noty js custom top fix ---------------------------------------
-------------------------------------------------------------*/

ul#noty_topRight_layout_container {
    top: 50px !important;
}

.table-hover > tbody > tr.tr-readed {
    /*background-color: #f5f5f5;    */
    background-color: #d2d6de;    
}
.table-hover > tbody > tr.tr-active {
    background-color: #39CCCC !important; 
    font-weight: bold;  
}

.table-hover > tbody > tr.tr-unreaded {
    font-weight: bold;    
}

.direct-chat-messages-dashboard{
    height:  310px !important;
}


.chat-empty{   
    margin-top: 35%;
    color: rgba(0,0,0,0.3) !important;    
}

.chat-empty-fa{
    color: rgba(0,0,0,0.3) !important; 
    font-size: 40px !important;    
 }


.chat-spinner{
    font-size: 40px !important;    
}



.info-box-icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 45px;
}

.info-box:hover > .info-box-icon {
    font-size: 60px;
}

.info-box{
    cursor: pointer;
}

.info-box:hover > .info-box-content{
    cursor: pointer;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-content {
  padding-top: 15px;
  min-height: inherit;
}
.info-box-number {
  display: inline;
  font-weight: bold;
  font-size: 28px;
  float: right;
  margin-top: -10px;
}

.info-box-text {
  display: inline;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: none !important;
}

.box-title2{
  font-size: 22px !important;
}


/*------------------------------------------------------------
Vendors Favorites --------------------------------------------
-------------------------------------------------------------*/


.vendors-favorite-header{
    padding: 10px !important;
}

.vendors-favorite-header > .widget-user-username{
    font-size: 1.5em;
}

.widget-user .widget-user-fav-image > img {
    width: 80px;
    height: auto;
    border: 3px solid #fff;
}

.widget-user .widget-user-fav-image{
    position: absolute;
    top: 75px;
    right:10px;
/*    left: 75%;*/
    margin-left: 0px;
}

.height-155{
    height: 165px;
}

.ui-autocomplete {
    font-size: 1.5em;
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete-input{
   font-size: 1.5em; 
}

.ui-autocomplete > li {
  padding: 3px 20px;
}

.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}

.ui-autocomplete > li:hover{
  background-color:#d2d6de;
}

.ui-helper-hidden-accessible {
  display: none;
}

.btn{
    padding: 6.5px 12px;
}

.vendor-more-info{
    width: 30px; 
}

.vendor-more-info > button > i {
    font-size: 2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.vendor-more-info  > button {
    background: transparent;
    border: none;
}

.rating-xs {
    font-size: 1.5em;
}

/*------------------------------------------------------------
Vendors invitations -----------------------------------------
-------------------------------------------------------------*/

.widget-user-invitation .widget-user-header {
    padding: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 20px;
    border-botton-right-radius: 3px;
}

.widget-user-invitation .widget-user-username {

    font-size: 20px;

}

.widget-user-invitation .box-footer .p-info> p {

    font-size: 12px;

}

.widget-user-invitation .widget-user-image > img {
    width: 50px;
    height: auto;
    float: left;
}

.widget-user-invitation .widget-user-username, .widget-user-invitation .widget-user-desc {
    margin-left: 55px;
}

.info-user-header {
    padding: 20px;
    height: 130px;

}

