/*------------------------------------------------------------
 Login Page --------------------------------------------------
-------------------------------------------------------------*/

.login-page, .register-page{
	background-color: #c6c7c9;
	background-image: url(../img/bg-One-seamless-Solution.jpg);  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-box{
    visibility: hidden;
	-webkit-box-shadow: 10px 10px 46px -6px rgba(28,28,28,1);
	-moz-box-shadow: 10px 10px 46px -6px rgba(28,28,28,1);
	box-shadow: 10px 10px 46px -6px rgba(28,28,28,1);

}

.img-center{	
	margin: 0 auto;
}

.login-logo{
	opacity: 0.97;
}

.login-logo a{
	font-size: 0.9em;
	color: #0f395f;	
}

.login-box-body{
	opacity: 0.97;

}

.no-padding{
	margin:0;
	font-size: .7em;
}

/*------------------------------------------------------------
 Dashboard Page ----------------------------------------------
-------------------------------------------------------------*/

.main-sidebar {
    background-color: #3c8dbc !important;
    color: #ffffff;
}

.skin-blue .sidebar-menu > li.header{
	background-color: #3c8dbc !important;
	color: #fff;
}

.skin-blue .sidebar a {
    color: #fff;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #0f395f;
    border-left-color: #3c8dbc;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #0f395f;
}

.skin-blue .treeview-menu > li > a {
    color: #ffffff;
}

/*------------------------------------------------------------
 Terms and conditios Page ------------------------------------
-------------------------------------------------------------*/


.terms-box {
    visibility: hidden;
    width: 560px;
    margin: 7% auto;
}

/*------------------------------------------------------------
 Acces inf Landing page --------------------------------------
-------------------------------------------------------------*/


.landing-header{
    width: 800px;
    margin: 7% auto;
    background-color: #fff;
    opacity: 0.97;
    z-index: 2;
}

.logo-letras{
    margin: 20px 0px 0px 20px;
    width: 300px;
}

.img-landing{
	margin: 20px 10px 10px 20px; 
    
}

.text-logo{
    margin-left: 10px;
    color: #11395f;
    margin-top: 65px;
}


.landing-header .form-title {
	color: #11395f;
	margin: 0px 0px 20px 1px;
	
}

.blue-onessolutio{
    color: #11395f;
}

/*------------------------------------------------------------
Vendor Wizard	----------------------------------------------
-------------------------------------------------------------*/
.wizard-page{
    background-color: #367fa9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wizard-box{
     padding: 0 0 20px 0;   
}

.landing-header-wizard{
    visibility: hidden;
    width: 800px;
    margin: 4% auto;
    background-color: #fff;
    opacity: 0.97;
    z-index: 2;
}

.wizard-vendor{
    widows: 100%;
}


.fuelux .wizard > .actions{
    background-color: #fff;
}

.form-wizard{
    padding: 0 20px 0 20px;
}

/*------------------------------------------------------------
Map Canvas	--------------------------------------------------
-------------------------------------------------------------*/


.map_canvas{
/*    display: none;*/
/*    visibility: hidden;*/
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
}

.map_canvas_vendorlist{
/*    display: none;*/
/*    visibility: hidden;*/
    width: 100%;
    height: 135px;
    padding-bottom: 20px;
    z-index:99;
}

.map_canvas_workorder{
/*    display: none;*/
/*    visibility: hidden;*/
    width: 100%;
    height: 135px;
    padding-bottom: 20px;
    z-index:99;
}

/*------------------------------------------------------------
Forms	----------------------------------------------
-------------------------------------------------------------*/

.form-padding button{
	margin-top: 15px;
		
}

.form-control-feedback {
    right: 15px;
}

.map-location{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ccc;
}

.progress {
    height: 30px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar{
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    
    padding-top: 5px;
}

.multiselect .btn-default{
    background-color: #fff;
}

.btn-default {
    background-color: #fff;
    color: #444;
    border-color: #ddd;
}
    /*------------------------------------------------------------
    Styles FuelUx	----------------------------------------------
    -------------------------------------------------------------*/
    
    .fuelux .wizard{
        border: 0px solid #fff;
        border-radius: 0px 0px 0px 0px;
        overflow: hidden;
    }


/*------------------------------------------------------------
Master Layout	----------------------------------------------
-------------------------------------------------------------*/

.main-header .logo{
    padding-left: 0px;
}

.main-header .logo img{
    width: 50px;
    height: 50px;
}


/*------------------------------------------------------------
Custom padding	----------------------------------------------
-------------------------------------------------------------*/
.padding-l-r-30{
	padding: 0 30px;
	
}

.padding-l-5{
	padding: 0 0 0 5px;
	
}

.padding-r-5{
	padding: 0 5px 0 0;
	
}

.padding-t-15{
	padding: 15px 0 0 0;
	
}

.padding-t-30{
	padding: 30px 0 0 0;
	
}
.padding-b-40{
	padding: 0 0 40px 0;
	
}

/*------------------------------------------------------------
Custom margin	----------------------------------------------
-------------------------------------------------------------*/

.margin-b-0{
    margin-bottom: 0px;
}

.margin-r-5{
    margin-right: 5px;
}

.margin-r-10{
    margin-right: 10px;
}

.margin-b-40{
    margin-bottom: 40px;
}

.margin-t-40{
    margin-top: 40px;
}

.margin-t-10{
    margin-top: 10px;
}

.margin-t-0{
    margin-top: 0px;
}


/*------------------------------------------------------------
Loading Spinner	----------------------------------------------
-------------------------------------------------------------*/

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background-color: rgba(0,0,0,0.3);*/
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;

}

.loading:not(:required):after {

  content: '';
  display: block;
  font-size: 15px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #0f395f 1.5em 0 0 0, #0f395f 1.1em 1.1em 0 0,#0f395f 0 1.5em 0 0,#0f395f -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0,#0f395f 0 -1.5em 0 0,#0f395f 1.1em -1.1em 0 0;
  box-shadow:#0f395f 1.5em 0 0 0,#0f395f 1.1em 1.1em 0 0,#0f395f 0 1.5em 0 0,#0f395f -1.1em 1.1em 0 0,#0f395f -1.5em 0 0 0,#0f395f -1.1em -1.1em 0 0,#0f395f 0 -1.5em 0 0,#0f395f 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hidden_elem{
    display: none;
}


.x{
    text-align: center;
}


.bg-blue{
    background-image: none !important;
    background-color: #367fa9 !important;
    
}

/*------------------------------------------------------------
Custom Icons DataTable	--------------------------------------
-------------------------------------------------------------*/

ul.table-actions {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.table-actions li>a>i {
    font-size: 1.5em;
}

ul.table-actions>li {
    float: left;
}

.group-table-item  span.label.label-success {
    position: relative;
    bottom: 12px;
    right: 7px;
    text-align: center;
    font-size: 12px;
    padding: 1px 5px;
    line-height: .9;
}

span.label.label-success center {
    position: relative;
    bottom: 0px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    padding: 0px 5px;
    line-height: .9;
}

.bg-light-gray {
    background-color: #3c8dbc !important;
}

.label-gray {
    background-color: #b5bbc8 !important;
}

.btn .badge {
    position: relative;
    top: 0px !important;

}


/*------------------------------------------------------------
Workorder widget	------------------------------------------
-------------------------------------------------------------*/
.widget-user-2 .widget-user-header {
    padding: 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/*------------------------------------------------------------
Chat  objet:        ------------------------------------------
-------------------------------------------------------------*/
.direct-chat-messages{
    height:  500px;
}

.btn{
    cursor: pointer;
}

/*------------------------------------------------------------
Center value in datatable ------------------------------------
-------------------------------------------------------------*/

th.dt-center, td.dt-center { text-align: center; }

/*------------------------------------------------------------
Error pages styles -------------------------------------------
-------------------------------------------------------------*/
.img-error-template{
  width: 150px;  
}

.error-img{
    width: 300px;
}

.error-text{
    font-size: 3.50em;
    color: #0f395f; 
    font-weight: 100;
    
}
h1.error-text.text-center{
    margin: 5 auto !important;
}

